
<div class="booyah-box col-10 offset-1">
	<h1>Enter Your Student Details</h1>
	<%= simple_form_for @student do |f| %>
      <%= f.input :FirstName %>
      <%= f.input :LastName %>
      <%= f.input :skypeID %>
      <br />
      <%= f.submit 'Create', class: 'btn btn-primary' %>
    <% end %>
</div>